.banner-home {
  > div {
    width: 100%;
  }
  .owl-dots {
    position: absolute;
    bottom: 0;
    height: 15%;
    background: rgba(0,0,0,.3);
    display: flex;
    justify-content: center;
    align-items: center;
    .owl-dot {
      margin: 0 10px;
      span {
        display: inline-block;
        width: 16px;
        height: 16px;
        background: #595959;
        border-radius: 8px;
      }
      &.active {
        span {
          background: #ffffff;
        }
      }
    }
  }
  .owl-nav {
    position: absolute;
    width: 100%;
    top: 50%;
    height: 144px;
    transform: translate3d(0, -50%, 0);
    > div {
      width: 80px;
      height: 144px;
      text-indent: -9999px;
      &.owl-prev {
        position: absolute;
        left: 73px;
        background: url(../images/arrow-left.png) center center / contain no-repeat;
      }
      &.owl-next {
        position: absolute;
        right: 73px;
        background: url(../images/arrow-right.png) center center / contain no-repeat;
      }
    }
  }
}

@include media-breakpoint-down(md) {
  .banner-home {
    .owl-dots {
      .owl-dot {
        margin: 0 5px;
        span {
          width: 8px;
          height: 8px;
          border-radius: 4px;
        }
      }
    }
    .owl-nav {
      height: 144px * 1/3;
      > div {
        width: 80px * 1/3;
        height: 144px * 1/3;
        &.owl-prev {
          left: 73px * 1/3;
        }
        &.owl-next {
          right: 73px * 1/3;
        }
      }
    }
  }
}
