@font-face {
  font-family: 'DIN';
  src: url('../font/DIN-Regular.otf');
  font-weight: normal;
}
@font-face {
  font-family: 'DIN';
  src: url('../font/DIN-Bold.otf');
  font-weight: bold;
}
h1, h2, h3, h4, h5, h6 {
  color: $black;
}

@include media-breakpoint-up(lg) {
  .col-lg-2-4{
    @include make-col(1, 5);
  }
}

@include media-breakpoint-up(lg) {
  .col-lg-3-11{
    @include make-col(3, 11);
    padding: 0 10px;
  }
  .col-lg-5-11{
    @include make-col(5, 11);
    padding: 0 10px;
  }
}
@include media-breakpoint-up(md) {
  .col-md-3-11{
    @include make-col(3, 11);
    padding: 0 10px;
  }
  .col-md-5-11{
    @include make-col(5, 11);
    padding: 0 10px;
  }
}

// custom pagination
.page-item {
  &.active {
    .page-link {
      background-color: #686868;
    }
  }
  &:first-child .page-link,
  &:last-child .page-link {
    background-color: $white;
  }
  .page-link {
    border: none;
    background-color: #eeeeee;
    padding: 0.5rem 0.65rem;
    margin: 0 5px;
  }
}

.custom-file-label {
  font-size: 1rem;
  color: $body-color;
}

.custom-file-container {
  border: 1px solid $input-border-color;
  background: #f3f4f4;
  img {
    position: absolute;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 2;
    object-fit: cover;
  }
  .custom-file-input {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 3;
  }
}

.card-img-top {
  height: auto;
}

.sub-banner {
  position: relative;
  height: 396px;
  .container {
    position: relative;
    height: 396px;
  }
  h1 {
    font-size: 3rem;
    font-weight: bold;
    color: $white;
    position: absolute;
    left: 1.2rem;
    bottom: -.7rem;
    margin: 0;
    padding: 0;
    span.entry-subtitle {
      font-size: 1em;
    }
  }
}

span.entry-subtitle {
  font-size: 1em !important;
}

@include media-breakpoint-down(sm) {
  .sub-banner {
    height: 250px;
    .container {
      height: 250px;
    }
    h1 {
      font-size: 2rem;
      bottom: -.4rem;
    }
  }
}

a.link {
  transition: $transition-base;
  &:hover {
    opacity: .8;
  }
}

.text-underline {
  text-decoration: underline;
}

.btn-common {
  width: 150px;
  letter-spacing: 0.3rem;
}

.icon {
  width: 18px;
  height: 18px;
  display: inline-block;
  border-radius: 6px;
}

@each $color-key, $color-value in $icons {
  .icon-#{$color-key} {
    background-color: #{$color-value};
  }
  .tag-#{$color-key} {
    background-color: #{$color-value};
  }
  .bg-#{$color-key} {
    background-color: #{$color-value};
  }
  .color-#{$color-key} {
    color: #{$color-value};
  }
}

.tag {
  font-size: $font-size-xs;
  font-style: normal;
  color: $white;
  padding: 1px 5px;
}

.htitle {
  position: relative;
  h1 {
    font-size: 2.6rem;
    font-weight: $font-weight-bold;
    padding: 20px 0 15px;
  }
  span {
    position: absolute;
    width: 60px;
    height: 1px;
    background: $black;
    left: 50%;
    margin-left: -30px;
  }
}

.list-competiton {
  .card {
    border: none;
    .card-img-top {
      border-radius: 0;
    }
    .card-body {
      position: relative;
      border-top: 1px solid $black;
      border-bottom: 1px solid $black;
      padding: .75rem 0;
      h5:first-child {
        margin-bottom: 0;
        padding-right: 30px;
      }
      .icon {
        position: absolute;
        right: 0;
        top: .85rem;
      }
    }
  }
}

.list-news {
  @include make-row();
  .column-middle {
    .card {
      .card-body {
        padding-top: 1.9rem;
        padding-bottom: 2.5rem;
        font-size: $font-size-xs;
        .title {
          font-size: $font-size-lg;
        }
        .label {
          margin-top: 2rem;
          margin-bottom: 2rem;
        }
      }
    }
  }
  .col-lg-5-11 {
    .card-img-top {
      width: 100%;
    }
  }
  .card {
    border: none;
    .card-body {
      background: $gray-200;
      padding-bottom: 2rem;
      .title {
        color: $black;
        font-weight: $font-weight-bold;
        border-left: 5px solid $cyan;
        padding-left: 10px;
      }
      p {
        white-space: pre-line;
      }
      .label, p, i {
        font-size: $font-size-xs;
        margin-left: 15px;
      }
      .label, .label a {
        font-weight: $font-weight-bold;
        margin-top: 1.5rem;
        margin-bottom: 1.5rem;
        color: $cyan;
      }
    }
  }
}

.item-history {
  border: none;
  position: static;
  padding-bottom: 20px;
  &.item-history-no-action {
    padding-bottom: 0;
  }
  > a {
    transition: $transition-base;
    &:hover {
      opacity: 0.8;
    }
  }
  .card-img-top {
    border-radius: 0;
  }
  .card-body {
    font-size: $font-size-xs;
    border-top: 3px solid $black;
    padding: .5rem 0 .75rem;
    .head {
      margin: 0 auto;
      border-bottom: 2px solid $grey;
      padding-bottom: .5rem;
      .hashtag {
        font-weight: $font-weight-bold;
      }
      .labels {
        line-height: 0;
      }
      .label {
        font-size: $font-size-base;
        font-weight: $font-weight-bold;
        text-transform: uppercase;
      }
    }
    h3 {
      font-weight: bold;
      color: $black;
      min-height: 3rem;
    }
    .organizer {
      font-weight: $font-weight-bold;
      white-space: pre-line;
    }
    .action {
      width: calc(100% - 20px);
      border-bottom: 3px solid $black;
      position: absolute;
      bottom: 20px;
      left: 0;
      margin: 0 10px;
      box-sizing: border-box;
      padding-bottom: 1rem;
      .far, .fas {
        font-size: 1.2rem;
      }
      span {
        color: $black;
      }
    }
  }
}

.item-event {
  border: none;
  .card-img-top {
    border-radius: 0;
  }
  .card-body {
    position: relative;
    border-top: 2px solid $black;
    border-bottom: 2px solid $black;
    padding: .5rem 0 .75rem;
    .head {
      margin: 0 auto;
      border-bottom: 2px solid $grey;
      padding-bottom: .5rem;
      .label {
        font-size: 18px;
        text-transform: uppercase;
      }
    }
    h3 {
      font-weight: bold;
      color: $black;
    }
    .action {
      margin: 0 auto;
      .far, .fas {
        font-size: 1.2rem;
      }
      span {
        color: $black;
      }
    }
  }
}

.item-top3 {
  @extend .item-history;
  .card-body {
    border-top: 1px solid $black;
    border-bottom: 1px solid $black;
    .head {
      border-bottom: 1px solid $grey;
    }
    .action {
      position: absolute;
      bottom: 1rem;
      left: 0;
    }
  }
}

.item-top50 {
  .card-body {
    .head {
      .label {
        font-size: 1rem;
      }
    }
  }
}

.item-sub-history {
  border: none;
  &:hover {
    .card-body, .card-label {
      background: darken(#9e9897, 5%);
    }
  }
  h4 ,p {
    color: $white;
  }
  h4 {
    margin-bottom: 1rem;
  }
  .card-label {
    transition: $transition-base;
    background: #9e9897;
    padding: .4rem 1.25rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px sold $white!important;
    .tag {
      font-size: $font-size-xs;
    }
    span {
      color: $cyan;
      font-weight: $font-weight-bold;
      font-size: $font-size-xs;
    }
  }
  hr {
    margin: 0;
    border-top: 1px solid #c1bdbd;
  }
  .card-body {
    font-size: $font-size-xs;
    transition: $transition-base;
    background: #9e9897;
  }
}

.item-judge {
  border: none;
  .card-img-top {
    border-radius: 0;
  }
  .card-body {
    position: relative;
    border-top: 1px solid $black;
    border-bottom: 1px solid $black;
    padding: .75rem 0 0;
    h5 {
      font-weight: bold;
    }
    h5, p {
      color: $black;
    }
    .excerpt {
      height: 3.2rem;
    }
  }
}

.category-container {
  a {
    // width: 6rem;
    height: 2rem;
    text-decoration: underline;
    color: $dark-grey;
    font-weight: $font-weight-light;
    &.active {
      color: $black;
      font-weight: $font-weight-bold;
    }
  }
}

.judge-detail {
  .container {
    max-width: 960px;
  }
  .banner {
    .avatar {
      flex: initial;
      width: 14rem;
      img {
        width: 14rem;
        height: 14rem;
      }
    }
    .desc {
      flex: 1
    }
  }
}

@include media-breakpoint-down(sm) {
  .judge-detail {
    .banner {
      .avatar {
        width: 8rem;
      }
      .desc {
        h1 {
          font-size: 1.2rem;
        }
        h3 {
          font-size: .9rem
        }
      }
    }
  }
}

.judge-sign-in {
  .fas {
    font-size: 1.6rem;
    cursor: pointer;
    &:hover {
      color: $primary;
    }
  }
  .step-3 {
    .avatar {
      height: 20rem;
      position: relative;
      .custom-file-input {
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        z-index: 2;
      }
    }
    textarea {
      height: 20rem;
    }
    .btn-save {

    }
  }
}

.page-group-detail {
  .header {
    border-bottom: 1px solid $grey;
  }
  .work-container {
    .item-top3 {
      .card-body {
        border-top: none;
        padding-top: 0;
      }
    }
  }
  .avatar-container {
    position: relative;
    width: 21rem;
    margin-right: 2rem;
    margin-bottom: 1rem;
    padding: .5rem;
    background: #f7f8f8;
    &.captain {
      background: none;
    }
    &.flex-column {
      img {
        width: 5rem;
      }
      .row {
        width: 100%;
        margin-top: .8rem;
      }
    }
    img {
      width: 8rem;
    }
    .role, .name {
      font-weight: bold;
    }
    .role {
      font-size: 1rem;
    }
    .name {
      font-size: 1.8rem;
    }
    a {
      position: absolute;
      right: .5rem;
      top: .5rem;
      i {
        font-size: 2rem;
      }
    }
  }
}

.user-center-menu {
  border-bottom: 1px solid $grey;
  ul {
    overflow: hidden;
    margin: 0;
    padding: 0;
    padding-top: 1rem;
    li {
      float: left;
      list-style-type: none;
      margin-right: 2rem;
      &.active {
        border-bottom: 3px solid $dark-grey;
      }
      a {
        display: block;
        font-size: .9rem;
        height: 2rem;
        line-height: 2rem;
        width: 7rem;
        text-align: center;
        &:hover {
          text-decoration: none;
        }
        i {
          position: absolute;
          width: 10px;
          height: 10px;
          background: $red;
          border-radius: 5px;
        }
      }
    }
  }
}

.user-center-body {
  >form >.row >.col-12 {
    &:nth-child(odd) {
      padding-right: $form-group-margin-bottom/2;
    }
    &:nth-child(even) {
      padding-left: $form-group-margin-bottom/2;
    }
  }
  .info-container {
    .col-6 {
      position: relative;
      padding-left: 0;
      margin-bottom: 0.8rem;
      > div {
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        i {
          font-size: 1.2rem;
        }
      }
    }
    .col-18 {
      padding-right: 0;
      padding-left: $form-group-margin-bottom;
    }
  }
  .event-list {
    .col-md-12:nth-child(odd) {
      padding-right: 25px;
    }
    .col-md-12:nth-child(even) {
      padding-left: 25px;
    }
  }
  .desc {
    height: 20rem;
  }
}

.message-list {
  li {
    list-style-type: none;
    border-bottom: 1px solid $grey;
    &:hover {
      background: #eeeeee;
    }
  }
}

.review-list {
  .item-review {
    border: none;
    cursor: pointer;
    .card-img-top {
      border-radius: 0;
    }
    .card-body {
      position: relative;
      border-top: 2px solid $black;
      border-bottom: 2px solid $black;
      padding: .5rem 0 .75rem;
      h3 {
        font-weight: bold;
      }
    }
  }
}

.work-upload {
  > div {
    padding: 0 10px;
    height: 10rem;
    &.dashed {
      border: 1px dashed $input-border-color;
    }
  }
  .upload-container {
    height: 10rem;
    position: relative;
    .fa-plus {
      font-size: 1.3rem;
    }
    .fa-trash-alt {
      position: absolute;
      font-size: 1.3rem;
      right: .8rem;
      bottom: .8rem;
      z-index: 4;
      &:hover {
        cursor: pointer;
      }
    }
    p {
      font-size: 1rem;
      margin-bottom: 0;
    }
  }
}

.word-desc {
  textarea {
    height: 15rem;
  }
  > div {
    position: relative;
    .poster {
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      i {
        font-size: 1.4rem;
      }
      p {
        font-size: 1rem;
      }
      .custom-file-input {
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        z-index: 2;
      }
    }
  }
}

.fancypop {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  bottom: 0;
  background: rgba(0,0,0,.7);
  &.hide {
    display: none;
  }
  .content {
    width: 1200px;
    height: 800px;
    background: white;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate3d(-50%, -50%, 0);
  }
}

.form-participate-position {
  .options {
    > .col {
      cursor: pointer;
    }
    i, span {
      font-size: 1.4rem;
      color: $silver;
    }
    i {
      position: relative;
      top: .1rem;
    }
  }
  .bg-light-grey {
    border-color: $light-grey;
  }
}

.toplist-container {
  .item-work {
    cursor: pointer;
  }
}

.custom-rate-container {
  .col-8 {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  .bg-cyan {
    border: $cyan;
    &:hover {
      background: darken($cyan, 10%)
    }
  }
}

.page-event-detail {
  .sidebar {
    position: fixed;
    z-index: 999;
    right: 0;
    top: 100px;
    li {
      list-style-type: none;
      margin-bottom: 1px;
      a {
        width: 110px;
        height: 50px;
        line-height: 50px;
        text-align: center;
        display: block;
        color: $black;
        background: url(../images/menu-bg.jpg) center top no-repeat;
        background-position: 0 -51px;
        &:hover {
          background-position: 0 -102px;
        }
      }
      &.active {
        a {
          color: $white;
          background-position: 0 0;
        }
      }
    }
  }
  .content {
    .header {
      padding-bottom: 20px;
      .title {
        margin-top: 40px;
      }
      .action {
        min-width: 200px;
        .far, .fas {
          font-size: 1.2rem;
        }
        span {
          font-size: $font-size-xs;
          color: $black;
        }
      }
      .time {
        font-size: $font-size-base;
        color: $silver;
      }
      .tag {
        font-size: $font-size-base;
        color: white;
        font-weight: bold;
      }
    }
    .poster {
      img {
        width: 100%;
        height: auto;
      }
    }
    .context {
      h2 {
        font-size: 33px;
        color: $silver;
        border-top: 2px solid #7b7b7b;
        padding-top: 34px;
        padding-bottom: 20px;
        span {
          font-weight: bold;
          margin-left: 28px;
        }
      }
      .editor {
        margin-left: 72px;
        padding-bottom: 20px;
      }
    }
    .judge-list {
      >.col-md-8 >.d-flex {
        .desc {
          p {
            margin-bottom: 10px;
            line-height: 1.4;
          }
          small {
            white-space: pre-line;
          }
        }
      }
      .avatar {
        flex: none;
        width: 140px;
        img {
          width: 140px;
          border-radius: 70px;
          overflow: hidden;
        }
      }
    }
  }
}

.page-help-center {
  p {
    margin-bottom: 5px;
    font-size: 20px;
  }
}
