// .btn-secondary {
//   color: $white;
// }
.sub-banner {
  position: relative;
  height: 396px;
  .container {
    position: relative;
    height: 396px;
  }
  h1 {
    color: $white;
    position: absolute;
    left: 20px;
    bottom: -17px;
  }
}
@include media-breakpoint-down(sm) {
  .sub-banner {
    height: 250px;
    .container {
      height: 250px;
    }
    h1 {
      font-size: 2rem;
      color: $white;
      position: absolute;
      left: 20px;
      bottom: -1rem;
    }
  }
}


.btn-lg, .btn-group-lg > .btn {
  font-size: 1.2rem;
}

.text-underline {
  text-decoration: underline;
}

.btn-common {
  width: 150px;
}

.icon {
  width: 18px;
  height: 18px;
  display: inline-block;
  border-radius: 6px;
}

@each $color-key, $color-value in $icons {
  .icon-#{$color-key} {
    background-color: #{$color-value};
  }
  .tag-#{$color-key} {
    background-color: #{$color-value};
  }
  .color-#{$color-key} {
    color: #{$color-value};
  }
}

.tag {
  font-size: 14px;
  font-style: normal;
  color: $white;
  padding: 1px 5px;
}

.no-gutters {
  margin-right: 0;
  margin-left: 0;

  > .col,
  > [class*="col-"] {
    padding-right: 0;
    padding-left: 0;
  }
}

.htitle {
  position: relative;
  h2 {
    font-weight: $font-weight-bold;
    padding: 15px 0;
  }
  span {
    position: absolute;
    width: 60px;
    height: 1px;
    background: $black;
    left: 50%;
    margin-left: -30px;
  }
}

.list-competiton {
  .card {
    border: none;
    .card-img-top {
      border-radius: 0;
    }
    .card-body {
      position: relative;
      border-top: 1px solid $black;
      border-bottom: 1px solid $black;
      padding: .75rem 0;
      h5:first-child {
        margin-bottom: 0;
      }
      .icon {
        position: absolute;
        right: 0;
        top: .85rem;
      }
    }
  }
}

.list-news {
  > div {
    // border: 1px solid red;
    // height: 100px;
  }
  .card {
    border: none;
    .card-body {
      background: $gray-200;
      .title {
        font-weight: $font-weight-bold;
        border-left: 5px solid $cyan;
        padding-left: 10px;
      }
      .label, p, i {
        font-size: 14px;
        margin-left: 15px;
      }
      .label {
        margin-top: 10px;
        margin-bottom: 10px;
        color: $cyan;
      }
    }
  }
}

.item-history {
  border: none;
  .card-img-top {
    border-radius: 0;
  }
  .card-body {
    position: relative;
    border-top: 3px solid $black;
    border-bottom: 3px solid $black;
    padding: .5rem 0 .75rem;
    .head {
      margin: 0 auto;
      border-bottom: 2px solid $grey;
      padding-bottom: .5rem;
      .label {
        font-size: 18px;
        text-transform: uppercase;
      }
    }
    h3 {
      font-weight: bold;
      color: $black;
    }
    .action {
      margin: 0 auto;
      .far, .fas {
        font-size: 1.2rem;
      }
      span {
        color: $black;
      }
    }
  }
}

.item-top3 {
  .card-body {
    border-top: 1px solid $black;
    border-bottom: 1px solid $black;
    .head {
      border-bottom: 1px solid $grey;
    }
    .action {
      position: absolute;
      bottom: 1rem;
      left: 0;
    }
  }
}

.item-sub-history {
  border: none;
  h4 ,p {
    color: $white;
  }
  h4 {
    margin-bottom: 1rem;
  }
  .card-label {
    background: #9e9897;
    padding: .4rem 1.25rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px sold $white!important;
    .tag {
      font-size: .8rem;
    }
    span {
      color: $cyan;
    }
  }
  hr {
    margin: 0;
    border-top: 1px solid #c1bdbd;
  }
  .card-body {
    background: #9e9897;
  }
}

.item-judge {
  border: none;
  .card-img-top {
    border-radius: 0;
  }
  .card-body {
    position: relative;
    border-top: 1px solid $black;
    border-bottom: 1px solid $black;
    padding: .75rem 0 0;
    h5 {
      font-weight: bold;
    }
    h5, p {
      color: $black;
    }
  }
}
