@include media-breakpoint-up(lg) {
  .col-lg-2-4{
    @include make-col(1, 5);
  }
}

@include media-breakpoint-up(lg) {
  .col-lg-3-11{
    @include make-col(3, 11);
  }
  .col-lg-5-11{
    @include make-col(5, 11);
  }
}
// .btn-secondary {
//   color: $white;
// }

.input-group-lg {
  .custom-file-label {
    line-height: 1.8;
    font-size: 1rem;
    &::after {
      line-height: 1.8;
    }
  }
}

.sub-banner {
  position: relative;
  height: 396px;
  .container {
    position: relative;
    height: 396px;
  }
  h1 {
    font-size: 3rem;
    color: $white;
    position: absolute;
    left: 1.2rem;
    bottom: -.7rem;
    margin: 0;
    padding: 0;
  }
}
@include media-breakpoint-down(sm) {
  .sub-banner {
    height: 250px;
    .container {
      height: 250px;
    }
    h1 {
      font-size: 2rem;
      bottom: -.4rem;
    }
  }
}

.btn-lg, .btn-group-lg > .btn {
  font-size: 1.2rem;
}

.text-underline {
  text-decoration: underline;
}

.btn-common {
  width: 150px;
}

.icon {
  width: 18px;
  height: 18px;
  display: inline-block;
  border-radius: 6px;
}

@each $color-key, $color-value in $icons {
  .icon-#{$color-key} {
    background-color: #{$color-value};
  }
  .tag-#{$color-key} {
    background-color: #{$color-value};
  }
  .bg-#{$color-key} {
    background-color: #{$color-value};
  }
  .color-#{$color-key} {
    color: #{$color-value};
  }
}

.tag {
  font-size: 14px;
  font-style: normal;
  color: $white;
  padding: 1px 5px;
}

.htitle {
  position: relative;
  h2 {
    font-weight: $font-weight-bold;
    padding: 15px 0;
  }
  span {
    position: absolute;
    width: 60px;
    height: 1px;
    background: $black;
    left: 50%;
    margin-left: -30px;
  }
}

.list-competiton {
  .card {
    border: none;
    .card-img-top {
      border-radius: 0;
    }
    .card-body {
      position: relative;
      border-top: 1px solid $black;
      border-bottom: 1px solid $black;
      padding: .75rem 0;
      h5:first-child {
        margin-bottom: 0;
      }
      .icon {
        position: absolute;
        right: 0;
        top: .85rem;
      }
    }
  }
}

.list-news {
  > div {
    // border: 1px solid red;
    // height: 100px;
  }
  .card {
    border: none;
    .card-body {
      background: $gray-200;
      .title {
        font-weight: $font-weight-bold;
        border-left: 5px solid $cyan;
        padding-left: 10px;
      }
      .label, p, i {
        font-size: 14px;
        margin-left: 15px;
      }
      .label {
        margin-top: 10px;
        margin-bottom: 10px;
        color: $cyan;
      }
    }
  }
}

.item-history {
  border: none;
  .card-img-top {
    border-radius: 0;
  }
  .card-body {
    position: relative;
    border-top: 3px solid $black;
    border-bottom: 3px solid $black;
    padding: .5rem 0 .75rem;
    .head {
      margin: 0 auto;
      border-bottom: 2px solid $grey;
      padding-bottom: .5rem;
      .label {
        font-size: 18px;
        text-transform: uppercase;
      }
    }
    h3 {
      font-weight: bold;
      color: $black;
    }
    .action {
      margin: 0 auto;
      .far, .fas {
        font-size: 1.2rem;
      }
      span {
        color: $black;
      }
    }
  }
}

.item-top3 {
  @extend .item-history;
  .card-body {
    border-top: 1px solid $black;
    border-bottom: 1px solid $black;
    .head {
      border-bottom: 1px solid $grey;
    }
    .action {
      position: absolute;
      bottom: 1rem;
      left: 0;
    }
  }
}

.item-top50 {
  .card-body {
    .head {
      .label {
        font-size: 1rem;
      }
    }
  }
}

.item-sub-history {
  border: none;
  h4 ,p {
    color: $white;
  }
  h4 {
    margin-bottom: 1rem;
  }
  .card-label {
    background: #9e9897;
    padding: .4rem 1.25rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px sold $white!important;
    .tag {
      font-size: .8rem;
    }
    span {
      color: $cyan;
    }
  }
  hr {
    margin: 0;
    border-top: 1px solid #c1bdbd;
  }
  .card-body {
    background: #9e9897;
  }
}

.item-judge {
  border: none;
  .card-img-top {
    border-radius: 0;
  }
  .card-body {
    position: relative;
    border-top: 1px solid $black;
    border-bottom: 1px solid $black;
    padding: .75rem 0 0;
    h5 {
      font-weight: bold;
    }
    h5, p {
      color: $black;
    }
  }
}

.category-container {
  a {
    width: 6rem;
    height: 2rem;
    &.active {
      font-weight: bold;
    }
  }
}

.judge-detail {
  .banner {
    .avatar {
      flex: initial;
      width: 16rem;
      img {
        border: 2px solid #6d6d6d;
      }
    }
    .desc {
      flex: 1
    }
  }
}

@include media-breakpoint-down(sm) {
  .judge-detail {
    .banner {
      .avatar {
        width: 8rem;
      }
      .desc {
        h1 {
          font-size: 1.2rem;
        }
        h3 {
          font-size: .9rem
        }
      }
    }
  }
}

.page-business {
  h2 {
    margin-bottom: 1rem;
    strong {
      font-size: 1.8rem;
      color: #717171;
      display: inline-block;
      padding-top: .8rem;
      border-top: 6px solid #717171;;
    }
  }
}

.judge-sign-in {
  .fas {
    font-size: 1.6rem;
    cursor: pointer;
    &:hover {
      color: $primary;
    }
  }
  .step-3 {
    .avatar {
      height: 20rem;
      position: relative;
      .custom-file-input {
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        z-index: 2;
      }
    }
    textarea {
      height: 20rem;
    }
    .btn-save {

    }
  }
}

.page-group-detail {
  .header {
    border-bottom: 1px solid $grey;
  }
  .work-container {
    .item-top3 {
      .card-body {
        border-top: none;
        padding-top: 0;
      }
    }
  }
  .avatar-container {
    position: relative;
    width: 21rem;
    margin-right: 2rem;
    margin-bottom: 1rem;
    padding: .5rem;
    background: #f7f8f8;
    &.captain {
      background: none;
    }
    &.flex-column {
      img {
        width: 5rem;
      }
      .row {
        width: 100%;
        margin-top: .8rem;
      }
    }
    img {
      width: 8rem;
    }
    .role, .name {
      font-weight: bold;
    }
    .role {
      font-size: 1rem;
    }
    .name {
      font-size: 1.8rem;
    }
    a {
      position: absolute;
      right: .5rem;
      top: .5rem;
      i {
        font-size: 2rem;
      }
    }
  }
}

.user-center-menu {
  border-bottom: 1px solid $grey;
  ul {
    overflow: hidden;
    margin: 0;
    padding: 0;
    padding-top: 1rem;
    li {
      float: left;
      list-style-type: none;
      margin-right: 2rem;
      &.active {
        border-bottom: 3px solid $dark-grey;
      }
      a {
        display: block;
        font-size: .9rem;
        height: 2rem;
        line-height: 2rem;
        width: 7rem;
        text-align: center;
        &:hover {
          text-decoration: none;
        }
        i {
          position: absolute;
          width: 10px;
          height: 10px;
          background: $red;
          border-radius: 5px;
        }
      }
    }
  }
}

.user-center-body {
  .info-container {
    .col-6 {
      padding-left: 0;
      > div {
        height: 6.25rem;
        input {
          position: absolute;
          left: 0;
          top: 0;
          width: 100%;
          height: 100%;
          z-index: 2;
        }
        i {
          font-size: 1.2rem;
        }
      }
    }
    .col-18 {
      padding-right: 0;
    }
  }
}
