.fancybox-custom-layout .fancybox-toolbar {
  opacity: 1;
  visibility: visible;
  -webkit-transition: opacity .25s,visibility 0s;
  transition: opacity .25s,visibility 0s;
}

.fancybox-caption-wrap {
  pointer-events: all;
  max-height: 33vh;
  overflow-y: auto;
  z-index: 99999;
  padding: calc(33vh - 3.5rem) 0 0;
  background: none;
  &.full-height {
    max-height: 100vh;
    padding: calc(100vh - 3.5rem) 0 0;
  }
}

.fancybox-caption {
  background: $white;
  padding: 1rem 15%;
  color: $black;
}

.fancybox-navigation {
  .fas {
    font-size: rem(50);
    color: #515151;
    opacity: 1;
  }
  .fancybox-button {
    padding: 10px;
    width: 68px;
  }
  button:before {
    background: none!important;
  }
}

.fancybox-stage {
  bottom: 3.5rem;
}

.fancybox-navigation button {
  top: calc(50% - 1.75rem);
}

// confirm

.fc-container .fancybox-bg {
  background: #eee;
}

.fancybox-is-open.fc-container .fancybox-bg {
  opacity: 0.95;
}

.fancybox-slide .fc-content {
  margin: 20px;
  max-width: 550px;
  padding: 50px 40px;
  box-shadow: 10px 10px 60px -25px;
  border-radius: 4px;
  .btn {
    margin: 0 8px;
    color: white;
    &:hover {
      color: white;
    }
    &.bg-light-grey {
      border: $light-grey;
    }
  }
  h3 {
    color: $silver;
  }
}

/* Custom animation */
.fancybox-fx-material.fancybox-slide--previous,
.fancybox-fx-material.fancybox-slide--next {
  transform: translateY(-60px) scale(1.1);
  opacity: 0;
}

.fancybox-fx-material.fancybox-slide--current {
  opacity: 1;
  transform: translateY(0) scale(1);
}


.fancybox-caption {
  ul.comments {
    li {
      list-style-type: none;
      display: flex;
      justify-content: space-between;
      margin-bottom: rem(30);
      > p {
        margin-left: rem(25);
        margin-bottom: 0;
      }
      div {
        width: rem(70);
        text-align: center;
        img {
          width: rem(70);
          height: rem(70);
          object-fit: cover;
        }
        p {
          margin-top: rem(10);
          margin-bottom: 0;
        }
      }
    }
  }
}
