.navbar {
  padding: 20px 0 10px;
  .navbar-toggler {
    border-color: rgba(0, 0, 0, 0);
  }
  .navbar-nav {
    justify-content: flex-end;
    flex: 1;
    .nav-item a {
      color: $primary;
      font-size: 1rem;
      font-weight: bold;
    }
  }
  .btn-link {
    color: $primary;
    font-size: .8rem;
    line-height: 1rem;
  }
  .form-inline {
    position: relative;
    top: .2rem;
  }
}


@include media-breakpoint-down(md) {
  .navbar {
    .navbar-nav  {
      border-top: 1px solid $border-color;
      display: flex;
      flex-direction: row;
      justify-content: flex-start;
      flex-wrap: wrap;
      li {
        padding: 0 1rem;
        width: 7rem;
        height: 3rem;
        line-height: 3rem;
      }
    }
    .navbar-brand {
      margin-left: .8rem;
      img {
        width: 180px;
        height: auto;
      }
    }
  }
  .form-inline {
    margin-top: 1rem;
    padding-left: 1rem;
    button:first-child {
      padding-left: 0;
    }
  }
}
