.home-event-status {
  font-weight: bold;
  .starting {
    background: #f6c150;
  }
  .started {
    background: #63c854;
  }
  .ending {
    background: #5460f2;
  }
  .ended {
    background: #ea6c5d;
  }
}

.list-competiton {
  h5 {
    font-weight: bold;
    font-size: $font-size-base;
    min-height: $font-size-base * 1.2;
  }
  .end-date {
    font-weight: bold;
    font-size: $font-size-xs;
  }
}

.home-news {
  .htitle {
    margin-bottom: 2.5rem;
  }
}

@include media-breakpoint-down(sm) {
  .home-event-status {
    span {
      font-size: $font-size-xs;
      display: inline-block;
      width: 3.2rem;
    }
  }
  .htitle {
    h1 {
      font-size: $font-size-base * 1.25;
    }
  }
  .home-news {
    margin-top: 2.875rem!important;
    .htitle {
      margin-bottom: 1.2rem;
    }
  }
  .list-competiton {
    >div {
      margin-bottom: 1.875rem;
      &:last-child {
        margin-bottom: 0;
      }
    }
    h5 {
      font-size: $font-size-sm;
    }
    .end-date {
      font-size: $font-size-xs;
    }
  }
}

@include media-breakpoint-down(md) {
  .list-competiton {
    >div {
      margin-bottom: 1.875rem;
      &:nth-last-child(-n+2) {
        margin-bottom: 0;
      }
    }
  }
}
