// overrides
$font-family-sans-serif: 'DIN', "Microsoft YaHei", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol" !default;
$body-color: #000;
$link-color: #000;
$font-size-base: 1rem;
$font-size-xs: 0.75rem;
$h1-font-size: $font-size-base * 2.5 !default;
$h2-font-size: $font-size-base * 2 !default;
$h3-font-size: $font-size-base * 1.25 !default;
$h4-font-size: $font-size-base * 1.125 !default;
$h5-font-size: $font-size-base * 1 !default;
$h6-font-size: $font-size-base * 0.875 !default;
// $h1-font-size: $font-size-base * 3;
// $font-size-lg: 2rem;

$grid-columns: 24;
$grid-gutter-width: 20px;

$yiq-contrasted-threshold: 160;

$custom-file-text: (
  en: "Browse",
  zh: "浏览"
);

$spacer: 1rem;
$spacers: (
  0: 0,
  1: ($spacer * .25),
  2: ($spacer * .5),
  3: $spacer,
  4: ($spacer * 1.5),
  5: ($spacer * 3),
  6: ($spacer * 4.5),
  7: ($spacer * 6),
);

$yellow:      #ffde00;
$dark-yellow: #6e5400;
$pink:        #dc80a5;
$rose:        #d1007f;
$red:         #d30012;
$blue:        #004fff;
$cyan:        #2b00ff;
$green:       #6ad500;
$orange:      #ff7900;
$dark-grey:   #2e2e2e;
$grey:        #9fa0a0;
$light-grey:  #dfdfdf;
$body-grey:   #686868;
$black:       #000000;
$white:       #ffffff;
$brick:       #742b33;

$primary:    $dark-grey;
$secondary:  $grey;

$icons: ();
$icons: map-merge((
  "yellow": $yellow,
  "dark-yellow": $dark-yellow,
  "pink": $pink,
  "rose": $rose,
  "red": $red,
  "blue": $blue,
  "cyan": $cyan,
  "green": $green,
  "orange": $orange,
  "dark-grey": $dark-grey,
  "grey": $grey,
  "light-grey": $light-grey,
  "black": $black,
  "white": $white,
  "brick": $brick,
  "body-grey": $body-grey
), $icons);

$border-radius:    0;
$border-radius-lg: 0;
$border-radius-sm: 0;

$container-max-widths: (
  sm: 540px,
  md: 720px,
  lg: 960px,
  xl: 1200px
);

$input-btn-padding-y-lg: 1rem;
$input-bg: #f3f4f4;
$input-border-color: #aea8a8;
$form-group-margin-bottom: .8rem;
$custom-select-color: $body-color;
$custom-file-height: 4rem;
$custom-file-padding-y: 0;
$custom-file-line-height: $custom-file-height;
$link-hover-decoration: none;


// bootstrap
@import "../bootstrap/scss/bootstrap";

// main
@import "common";
@import "header";
@import "footer";
@import "editor";
@import "share";

// page
@import "banner";
@import "home";
@import "signup";
@import "news";
@import "customFancybox";
@import "wordpress";
