// overrides
$body-color: #686868;
$link-color: #686868;
$font-size-base: .8rem;

$grid-columns: 24;
$grid-gutter-width: 20px;

$yiq-contrasted-threshold: 160;

// $input-btn-padding-y: .2rem;
// $btn-padding-y: .375rem;


$spacer: 1rem;
$spacers: (
  0: 0,
  1: ($spacer * .25),
  2: ($spacer * .5),
  3: $spacer,
  4: ($spacer * 1.5),
  5: ($spacer * 3),
  6: ($spacer * 4.5),
  7: ($spacer * 6),
);

$yellow:     #ffde00;
$pink:       #dc80a5;
$rose:       #d1007f;
$red:        #d30012;
$blue:       #004fff;
$cyan:       #2b00ff;
$green:      #6ad500;
$orange:     #ff7900;
$grey:       #2e2e2e;
$dark-grey:  #9fa0a0;

$primary: $grey;
$secondary: $dark-grey;

$icons: ();
$icons: map-merge((
  "yellow": $yellow,
  "pink": $pink,
  "rose": $rose,
  "red": $red,
  "blue": $blue,
  "cyan": $cyan,
  "green": $green,
  "orange": $orange
), $icons);

$border-radius:    0;
$border-radius-lg: 0;
$border-radius-sm: 0;

// bootstrap
@import "../bootstrap/scss/bootstrap";

// main
@import "common";
@import "header";
@import "footer";

// page
@import "signup";
