// overrides
$body-color: #686868;
$link-color: #686868;
$font-size-base: .8rem;

$grid-columns: 24;
$grid-gutter-width: 20px;

$yiq-contrasted-threshold: 160;

// $input-btn-padding-y: .2rem;
// $btn-padding-y: .375rem;

$custom-file-text: (
  en: "Browse",
  zh: "浏览"
);
$custom-file-height: 2.6rem;

$spacer: 1rem;
$spacers: (
  0: 0,
  1: ($spacer * .25),
  2: ($spacer * .5),
  3: $spacer,
  4: ($spacer * 1.5),
  5: ($spacer * 3),
  6: ($spacer * 4.5),
  7: ($spacer * 6),
);

$yellow:      #ffde00;
$dark-yellow: #6e5400;
$pink:        #dc80a5;
$rose:        #d1007f;
$red:         #d30012;
$blue:        #004fff;
$cyan:        #2b00ff;
$green:       #6ad500;
$orange:      #ff7900;
$dark-grey:   #2e2e2e;
$grey:        #9fa0a0;
$light-grey:  #dfdfdf;
$body-grey:   #686868;
$black:       #000000;
$white:       #ffffff;
$brick:       #742b33;

$primary:    $dark-grey;
$secondary:  $grey;

$icons: ();
$icons: map-merge((
  "yellow": $yellow,
  "dark-yellow": $dark-yellow,
  "pink": $pink,
  "rose": $rose,
  "red": $red,
  "blue": $blue,
  "cyan": $cyan,
  "green": $green,
  "orange": $orange,
  "dark-grey": $dark-grey,
  "grey": $grey,
  "light-grey": $light-grey,
  "black": $black,
  "white": $white,
  "brick": $brick,
  "body-grey": $body-grey
), $icons);

$border-radius:    0;
$border-radius-lg: 0;
$border-radius-sm: 0;

// bootstrap
@import "../bootstrap/scss/bootstrap";

// main
@import "common";
@import "header";
@import "footer";
@import "editor";

// page
@import "signup";
@import "news";
