.news-detail {
  h1 {
    font-size: $font-size-xl;
  }
  .header {
    img {
      height: auto;
      max-width: 100%;
    }
    .row {
      margin: 0 auto;
    }
    .far, .fas {
      font-size: 1.4rem;
      color: $silver;
    }
    .infos {
      color: $silver;
    }
    .published-at {
      font-weight: normal;
      color: $silver;
    }
  }
}

@include media-breakpoint-up(xs) {
  .news-detail {
    h1 {
      font-weight: bold;
      font-size: $font-size-base;
      line-height: 1.6;
      margin-bottom: 0;
    }
    .published-at {
      font-size: $font-size-xs;
    }
  }
  .news-detail-ad {
    background: #DEDEDE;
    padding-top: rem(16);
  }
}

@include media-breakpoint-up(md) {
  .news-detail {
    h1 {
      font-size: $font-size-xl;
      line-height: 1.6;
    }
  }
}
