.share-container {
  .hshare {
    background: url(../images/icon-share.png) no-repeat left;
    background-size: auto 64px;
    width: 32px;
    height: 32px;
    margin-left: 0.25rem;
    img {
      display: none;
    }
    &.weibo {
      background-position: 0 0;
      &:hover {
        background-position: 0 -32px;
      }
    }
    &.wechat {
      background-position: -44px 0;
      &:hover {
        background-position: -44px -32px;
      }
    }
    &.qzone {
      background-position: -89px 0;
      &:hover {
        background-position: -89px -32px;
      }
    }
    &.facebook {
      background-position: -134px 0;
      &:hover {
        background-position: -134px -32px;
      }
    }
    &.twitter {
      background-position: -178px 0;
      &:hover {
        background-position: -178px -32px;
      }
    }
  }
}
