.share {
  .jiathis_style_32x32 .jiathis_txt {
    margin-left: 10px;
  }
  .jiathis_style_32x32 .jtico {
    background: url(../images/icon-share.png) no-repeat left;
    background-size: cover;
  }
  .jiathis_style_32x32 .jtico_tsina {
    background-position: 0 0;
  }
  .jiathis_style_32x32 .jtico_weixin {
    background-position: -44px 0;
  }
  .jiathis_style_32x32 .jtico_qzone {
    background-position: -89px 0;
  }
  .jiathis_style_32x32 .jtico_fb {
    background-position: -134px 0;
  }
  .jiathis_style_32x32 .jtico_twitter {
    background-position: -178px 0;
  }
}
