.sign-up {
  .logo {
    img {
      max-width: 100%;
    }
  }
}

.third-party {
  margin-bottom: .8rem;
  span {
    font-size: rem(17);
    color: $silver;
  }
  a {
    margin-left: rem(14);
  }
  a.button-share-item {
    width: 42px;
    height: 42px;
    background: url(../images/icon-share.png) no-repeat left;
    background-size: auto 52px*(42/26);

    &.button-tsina {
      background-position: 0 0;
      &:hover {
        background-position: 0 -42px;
      }
    }
    &.button-weixin {
      background-position: -58px 0;
      &:hover {
        background-position: -58px -42px;
      }
    }
  }
}

.sign-up-success {
  .msg {
    h3 {
      font-size: $font-size-lg;
      color: $body-grey;
    }
    a {
      color: #A39D9B;
      text-decoration: underline;
    }
  }
  .qr {
    p {
      color: $body-grey;
    }
  }
}

.form-participate-position {
  .options {
    > .col {
      cursor: pointer;
    }
    i, span {
      font-size: 1.4rem;
      color: $silver;
    }
    i {
      position: relative;
      top: .1rem;
    }
  }
  .bg-light-grey {
    border-color: $light-grey;
  }
  .agree-checkbox {
    transform: scale(1.125);
  }
  .agree-checkbox-label {
    font-size: $h4-font-size;
  }
}

@include media-breakpoint-down(md) {
  .page-participate {
    h1 {
      font-size: rem(22);
    }
    h3 {
      font-size: $font-size-base;
    }
    .form-participate-position {
      .options {
        i, span {
          font-size: $font-size-sm;
        }
      }
      h4 {
        font-size: $font-size-sm;
      }
    }
  }
  .sign-up {
    img.checkicon {
      width: rem(30);
    }
  }
  .sign-up-success {
    .msg {
      h3 {
        font-size: $font-size-sm;
        margin-bottom: 0;
      }
      a {
        font-size: $font-size-xs;
      }
    }
    .qr {
      img {
        width: rem(150);
      }
      p {
        font-size: $font-size-xs;
      }
    }
  }
  .small-tip {
    font-size: $font-size-xs;
  }
}


@include media-breakpoint-down(sm) {
  .page-participate {
    h1 {
      font-size: $font-size-base;
    }
  }
  .sign-up-success {
    .qr {
      img {
        width: rem(133);
      }
    }
  }
}
